/* General Styles */
.body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Auth Container */
.auth-container {
  display: flex;
  max-width: 800px; /* Adjust width as needed */
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Image Section */
.auth-image-container {
  flex: 1;
  background-color: #1e1e1e; /* Optional background for the image section */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-image {
  max-width: 100%;
  height: auto;
  border-radius: 0; /* Remove border radius to align with the container */
}

/* Form Section */
.auth-form-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Title */
h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

/* Form */
form {
  width: 100%;
}

/* Input Fields */
.auth-form-container form input {
  width: calc(100% - 16px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #ffffff;
}

.auth-form-container form input::placeholder {
  color: #aaaaaa;
}

.auth-form-container form input:focus {
  outline: none;
  border-color: #3f3f3f;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"] {
  background-color: #2ecc71;
  color: #ffffff;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}

button:not([type="submit"]) {
  background-color: #e74c3c;
  color: #ffffff;
}

button:not([type="submit"]):hover {
  background-color: #c0392b;
}

/* Message */
p {
  margin-top: 10px;
  color: #ecf0f1;
  font-size: 0.9rem;
}

p:last-child {
  margin-top: 20px;
  color: #2ecc71;
  font-size: 0.8rem;
}
